body{
    background: no-repeat center/100% url("IMG_1633.JPG");
}

form{
    display: flex;
    padding: 10%;
    flex-direction: row;
    margin: auto;

}
.item1{
    width: 100%;
}

/* ppu1{
    grid-column: 1;
    grid-row: 1;
}

ppu2{
    grid-column: 2;
    grid-row: 1;
} */

submit{
    background: cyan;
}